<div class="container">
    <h4>Cadastrar Cliente</h4>
    <div class="row">
        <form class="col s10" id="form">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" name="primeiro_nome" type="text" class="validate">
                    <label for="first_name">Primeiro Nome</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" name="sobrenome" type="text" class="validate">
                    <label for="last_name">Sobrenome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" autocomplete="username">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="senha" type="password" class="validate" autocomplete="current-password">
                    <label for="password">Password</label>
                </div>
            </div>

            <input type="submit" class="btn-large botao" value="Cadastrar">
        </form>
    </div>
</div>