<h4>Alterar Serviço</h4>
<div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nome" type="text" class="validate">
                    <label for="nome">Nome</label>
                </div>
            </div>
            <input type="button" class="btn-large botao" value="Pesquisar" onclick="pesquisar()">
        </form>
    </div>
    
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="novoNome" name="nome" type="text" class="validate">
                    <label for="novoNome">Novo Nome</label>
                </div>
                <div class="input-field col s6">
                    <input id="preco" name="preco" type="text" class="validate">
                    <label for="preco">Preco</label>
                </div>
            </div>
            <input type="submit" class="btn-large botao" value="Salvar">
        </form>
    </div>