<h4>Alterar Cliente</h4>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_namep" name="primeiro_nome" type="text" class="validate">
                <label for="first_namep">Primeiro Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="last_namep" name="sobrenome" type="text" class="validate">
                <label for="last_namep">Sobrenome</label>
            </div>
        </div>
        <input type="button" class="btn-large botao" value="Pesquisar" onclick="pesquisar()">
    </form>
</div>

<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input id="first_name" type="text" class="validate">
                <label for="first_name">Primeiro Nome</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" type="text" class="validate">
                <label for="last_name">Sobrenome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" autocomplete="username">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" autocomplete="current-password">
                <label for="password">Password</label>
            </div>
        </div>

        <input type="submit" class="btn-large botao" value="Salvar">
    </form>
</div>