<!DOCTYPE html>
<html>

<head>
    <title>Cadastro - Salao</title>

    <link type="text/css" rel="stylesheet" href="../lib/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css">


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col m4">
                <a href="view/servico.html">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/servico.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Serviços</span>
                        <p>Clique aqui para gerenciar os serviços</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col m4">
                <a href="view/cliente.html"><div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../images/cliente.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Clientes</span>
                        <p>Clique aqui para gerenciar os clientes</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="col m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="../images/funcionario.jpeg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Vendas</span>
                            <p>Clique aqui para gerenciar as vendas e visualizar o caixa</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="../lib/js/materialize.min.js"></script>

</html>