<!DOCTYPE html>
<html>

<head>
    <title>Cadastro Salão - Login</title>

    <link type="text/css" rel="stylesheet" href="../lib/css/materialize.min.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link href="../css/login.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div id="login">
        <form id="formLogin">
            <h2>Cadastro Salão - Login</h2>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="senha" type="password" class="validate" name="senha">
                    <label for="senha">Senha</label>
                </div>
            </div>
    
            <input type="submit" class="btn-large botao right" value="Entrar">
        </form>
    </div>
</body>

<script type="text/javascript" src="../lib/js/materialize.min.js"></script>
<script type="text/javascript" src="../js/scriptLogin.js"></script>

</html>