<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro Serviço- Salão</title>

        <link type="text/css" rel="stylesheet" href="../lib/css/materialize.min.css"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet" type="text/css">


        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body onload="loadContent(3)">
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img src="../images/icon-hair.png" class="logo"></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#" onclick="loadContent(3)">Cadastrar</a></li>
                    <li><a href="#" onclick="loadContent(4)">Alterar</a></li>
                    <li><a href="#" onclick="load()">Todos os serviços</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div id="form">
            
        </div>

    </body>

    <script type="text/javascript" src="../lib/js/materialize.min.js"></script>
    <script src="../js/scriptServico.js"></script>
</html>